.navbar {
  background: #e9eaee;
  /* background: #bcbfc7; */
  height: 80px;
  box-shadow: 2px 0px 5px rgba(68, 67, 67, 0.5);
}

.navbar-navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.navbar-logo {
  margin-left: 0.5rem;
}

.navbar-logo a {
  color: #84849e;
  font-size: 1.5rem;
  font-weight: "700";
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

.navbar-navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.spacer {
  padding-left: 43rem;
}

.navbar-navigation-items li {
  padding: 0 2rem;
}

.navbar-navigation-items a {
  color: #14161f;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Sigmar One", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
.navbar-navigation-items a :hover,
.navbar-navigation-items a :active {
  color: #fe9221;
}

@media (max-width: 768px) {
  .navbar-navigation-items {
    display: none;
  }
}
@media (min-width: 769px) {
  .navbar-toggle-button {
    display: none;
  }
  .navbar-logo {
    margin-left: 0;
  }
}
